:root {
  --red: #ff0000;
  /* Red color */
}

#creature-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /* VERY IMPORTANT: allows clicks to pass through to footer links */
  z-index: 0;
}

#creature {
  font-size: .1vh;
  /* Scale factor (decreased to make particles smaller) */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150em;
  height: 150em;
  flex-wrap: wrap;
}

#creature div {
  transform-style: preserve-3d;
  position: relative;
  width: 4em;
  height: 4em;
  margin: 3em;
  border-radius: 50%;
  will-change: transform;
  mix-blend-mode: plus-lighter;
  background: var(--red);
}